*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(back.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4{
    font-size: 40px;
    color: white;
    margin-top: 250px;
}
p{
    font-size: 20px;
    color: white;
}
h3{
    font-size: 20px;
    color: rgb(247, 210, 210);
    text-decoration: underline;
    margin-top: 20px;
    margin-left: 30px;
}
.col-md-5{
    margin-top: 35px;
    box-shadow: -1px 1px 60px 10px black;
    background: rgba(red, green, blue, 4);
}
.text-center{
    padding-bottom: 10px;
}
.label{
    width: 340px!important;
    font-size: 12px;
   
}
.px-2{
    width: 340px!important;
    font-size: 13px;
}
.property{
    font-size: 13px;
    margin-left: 64px!important;
}
.year{
    margin-left: 13px!important;
}

.proper{
    font-size: 13px;
    margin-left: 64px!important;
}

.content{
    margin-left: 13px!important;
}


